.env
.env.production
/vendor/
/node_modules/
/writable/cache/*
/writable/logs/*
/writable/session/*
/writable/uploads/*
!/writable/cache/index.html
!/writable/logs/index.html
!/writable/session/index.html
!/writable/uploads/index.html
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
*.bak
*.old
